@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 50px;
}
.slick-dots
{
    position: absolute;
    bottom: -65px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    font-size: 0;
    line-height: 0;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.slick-dots > li + li
{
    margin-left: 25px;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 40px;
    height: 3px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: white;
    transition: all .15s ease-out;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
    background: #42C3B7;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
.slick-dots button[aria-selected=true], .slick-dots button:active, .slick-dots button:hover, .slick-dots button[aria-selected=true]
{
    background: #42C3B7;  
}

/* Slide Animation Adjustments */
.slick-slide
{
    opacity: 0.2;
    transition: opacity .5s ease-in .5s;
    margin: 0 10px;
}

.slick-slide.slick-current
{
    opacity: 1;
}

.slick-slide img
{
    width: 916px;
}

.slick-slide, .slick-slide *
{
    outline: none !important;
}

@media only screen and (max-width: 900px) {
    
    .slick-slide img {
        width: 250px !important;
    }
}

@media only screen and (max-width: 690px) {

    .slick-dotted.slick-slider {
        margin-bottom: 25px;
    }

    .slick-dots {
        bottom: -40px;
    }
}
